/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
.fab {display: inline}

/* Colours */
:root {
    --bg: #191C28;
    --btext: #B6BAD1;
    --ytext: #F4BF75;
    --rtext: #FE6262;
    --gtext: #7AC582;
    --bltext: #7AD0DE;
}

yellow, green, blue {color: var(--btext)}
yellow {animation: fadeYellow 200ms steps(20) 2.45s 1 normal forwards}
green {animation: fadeGreen 200ms steps(20) 9s 1 normal forwards}
blue {animation: fadeBlue 200ms steps(20) 15s 1 normal forwards}
red {animation: fadeRedIn 1s steps(20) 4.1s 1 normal forwards}
red, transparent {color: transparent}

@keyframes fadeYellow {from {color: var(--btext)} to {color: var(--ytext)}}
@keyframes fadeGreen {from {color: var(--btext)} to {color: var(--gtext)}}
@keyframes fadeBlue {from {color: var(--btext)} to {color: var(--bltext)}}
@keyframes fadeRedIn {from {color: transparent} to {color: var(--rtext)}}
@keyframes fadeRedOut {from {color: var(--rtext)} to {color: var(--btext)}}

/* Global */
body {
    background-color: var(--bg);
    color: var(--btext);
    font-family: 'Fira Mono', monospace;
    height: calc(100vh - 100em);
    font-size: 180%;
}

/* Links */
a.secret, smol {font-size: 40%}
a.secret, a.social, a.link, a.inactive {text-decoration: none}
a.secret, a.social {background-color: transparent}
a.secret:link, a.secret:visited {color: var(--bg)}
a.social, a.link, a.inactive {color: var(--btext)}
a.social:hover {color: var(--ytext)}
a.link {
    background: linear-gradient(to bottom, var(--ytext) 0%, var(--ytext) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
}
a.link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23F4BF75' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 6px;
}
a.inactive {
    pointer-events: none;
    cursor: default;

    background: linear-gradient(to bottom, var(--btext) 0%, var(--btext) 100%);
	background-position: 0 50%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
}
a.inactive:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23B6BAD1' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-size: auto 6px;
}

/* Structure */
.centre {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
#xcentre {margin: auto}
intro, socials, links, caret {display: flex}

/* Text */
.intro, .socials, .links {
    overflow: hidden;
    white-space: nowrap;
}
.socials, .links, .caret {position: absolute}
.socials, .links {
    width: 0;
    text-align: left;
    border-right: 2px solid transparent;

    transform: translateX(-7.9em) translateY(-2.25em);
    -moz-transform: translateX(-7.9em) translateY(-2.25em);
    -webkit-transform: translateX(-7.9em) translateY(-2.25em);
}
.intro {
    display: flex;
    border-right: 2px solid var(--btext);
    margin: 0 auto;
    animation: typewriter 1.5s steps(30) 1s 1 normal both,
                        blinkTextCursor 0.75s steps(15) 5 normal forwards,
                        lineBreak 0.1s steps(4) 3.75s 1 normal forwards,
                        lineBreak2 0.1s steps(4) 7s 1 normal forwards;
}
.socials {animation: typewriterS 1.25s steps(22) 4s 1 normal both,
                                    blinkTextCursor 0.75s steps(15) 4s 4 normal forwards,
                                    lineBreakS 0.1s steps(4) 7s 1 normal forwards}
.links {animation: typewriterL 1.5s steps(30) 7.5s 1 normal both,
                                blinkTextCursor 0.75s steps(15) 14.5s infinite normal}
.caret {
    transform: translateX(-8.93em) translateY(-2.25em);
    -moz-transform: translateX(-8.93em) translateY(-2.25em);
    -webkit-transform: translateX(-8.93em) translateY(-2.25em);
}

@keyframes typewriter {from {width: 0} to {width: 100%}}
@keyframes typewriterS {from {width: 0} to {width: 16.3em}}
@keyframes typewriterL {from {width: 0} to {width: 16.5em}}
@keyframes blinkTextCursor {from {border-right-color: var(--btext)} to {border-right-color: transparent}}
@keyframes lineBreak {from {transform: translateY(0)} to {transform: translateY(-2.25em)}}
@keyframes lineBreak2 {from {transform:  translateY(-2.25em)} to {transform:  translateY(-4.5em)}}
@keyframes lineBreakS {from {transform: translateX(-7.9em) translateY(-2.25em)} to {transform: translateX(-7.9em) translateY(-4.5em)}}