/* Fonts */
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu.otf) format("opentype");
}

@font-face {
    font-family: THItalic;
    src: url(../fonts/TiemposHeadlineItalic.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Colours */
:root {
    --desaturated-gray: #7f85a3;
    --dark-blue: #3e68d7;
    --blue: #82aaff;
    --sky-blue: #65bcff;
    --cyan: #86e1fc;
    --red: #ff757f;
    --dark-red: #ff5370;
    --light-red: #ff98a4;
    --yellow: #ffc777;
    --orange: #ff966c;
    --dark-orange: #fc7b7b;
    --teal: #4fd6be;
    --green: #c3e88d;
    --purple: #c099ff;
    --pink: #fca7ea;
    --indigo: #7a88cf;
    --bright-cyan: #b4f9f8;

    --fg: #c8d3f5;
    --bg: #222436;
    --bg2: #1E2030;
}

/* Global */
body {
    background-color: var(--bg);
    color: var(--fg);
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Top Bar */
.topbar {
    padding: 30px;
    margin-left: -0.8rem;
    margin-right: -0.8rem;
    margin-top: -0.8rem;
    background-color: var(--bg2);
}

.icon {
    height: 4rem;
    /* https://codepen.io/sosuke/pen/Pjoqqp to generate colour filter from --fg */
    filter: invert(85%) sepia(10%) saturate(918%) hue-rotate(193deg) brightness(99%) contrast(95%);
    margin-left: 1rem;
}

.toplinks {
    float: right;
    margin-right: 3rem;
}

a.toplink {
    /* text */
    font-family: 'Apercu';
    font-size: 1.5rem;
    
    /* colouring */
    color: var(--fg);
    text-decoration: none;

    /* hover animation */
    background: linear-gradient(to bottom, var(--yellow) 0%, var(--yellow) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
    background-size: 0.1rem 0.1rem;
    transition: color .2s, background-size .2s;
    border-right: 0.3rem solid transparent;
    border-left: 0.3rem solid transparent;
    /* display descenders properly */
    text-shadow: 2px 2px var(--bg), -2px 2px var(--bg), 0px 2px var(--bg), 1px 2px var(--bg), -1px 2px var(--bg);

    /* positioning */
    line-height: 2.5em;
    margin-left: 2.5rem;
}
a.toplink:hover {
    color: var(--bg);
    background-size: 0.1rem 2rem;
    border-radius: 0.3rem;
    text-shadow: none;
}

/* Body */
.content {
    min-height: 500px;
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.namecontainer {
    display: flex;
    height: calc(80vh);
    max-width: 1200px;

    /* Name formatting */
    font-family: 'THItalic';
    font-size: 10rem;
    text-align:center;
    text-anchor:middle;
}

.name {
    fill: var(--fg);
}

.subname {
    stroke-width: 1px;
    fill: none;

    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.name:hover ~ .subname {
    opacity: 1;
}

#xcentre {margin: auto}
intro, socials, links, caret {display: flex}