body {
    margin: 0;
    background-color: #e6e3d7;
    font-family: 'Vesper Libre', serif;
}

header {
    width: 100%;
    background-color: #ebe9e0;
    color: #49452e;
    text-align: center;
    padding: 40px 0;
}

@media(min-width:100px) {
    img {
        max-height: 30px;
    }
    hr {
        width: 250px;
        border-width: 1px;
    }
    .headertitle {
        font-size: 40px;
    }
    .subtitle {
        font-size: 15px;
    }
    main {
        width: 300px;
        margin: auto;
        padding-top: 8px;
        padding-bottom: 40px;
    }
    .poemtext {
        border-radius: 0 25px 25px 0;
        font-size: 13px;
        border-left: 1px solid #0b408a;
        padding: 3px 0 3px 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 17px;
    }
    ;
}

@media(min-width:400px) {
    img {
        max-height: 42px;
    }
    hr {
        width: 373px;
        border-width: 1px;
    }
    .headertitle {
        font-size: 60px;
    }
    .subtitle {
        font-size: 24px;
    }
    main {
        width: 390px;
        margin: auto;
        padding-top: 8px;
        padding-bottom: 40px;
    }
    .poemtext {
        border-radius: 0 25px 25px 0;
        font-size: 17px;
        border-left: 2px solid #0b408a;
        padding: 3px 0 3px 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 20px;
    }
    ;
}

@media(min-width:768px) {
    img {
        max-height: 48px;
    }
    hr {
        width: 420px;
        border-width: 1px;
    }
    .headertitle {
        font-size: 70px;
    }
    .subtitle {
        font-size: 27px;
    }
    main {
        width: 420px;
        margin: auto;
        padding-top: 8px;
        padding-bottom: 40px;
    }
    .poemtext {
        border-radius: 0 25px 25px 0;
        font-size: 19px;
        border-left: 3px solid #0b408a;
        padding: 3px 0 3px 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 23px;
    }
    ;
}

@media(min-width:950px) {
    img {
        max-height: 55px;
    }
    hr {
        width: 500px;
        border-width: 2px;
    }
    .headertitle {
        font-size: 80px;
    }
    .subtitle {
        font-size: 30px;
        letter-spacing: 1.1px;
    }
    main {
        width: 490px;
        margin: auto;
        padding-top: 8px;
        padding-bottom: 40px;
    }
    .poemtext {
        border-radius: 0 25px 25px 0;
        font-size: 22px;
        border-left: 5px solid #0b408a;
        padding: 3px 0 3px 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 27px;
    }
    ;
}

@media(min-width:1400px) {
    img {
        max-height: 70px;
    }
    hr {
        width: 600px;
        border-width: 2px;
    }
    .headertitle {
        font-size: 100px;
    }
    .subtitle {
        font-size: 37px;
        letter-spacing: 1.2px;
    }
    main {
        width: 580px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .poemtext {
        border-radius: 0 25px 25px 0;
        font-size: 26px;
        border-left: 6px solid #0b408a;
        padding: 3px 0 3px 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 30px;
    }
    ;
}

.headertitle {
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.subtitle {
    margin: auto;
}

.poemtext {
    color: #49452e;
    background-color: #ebe9e0;
    line-height: 150%;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: #0b408a;
    font-weight: 400;
}

hr {
    color: #0b408a;
    display: block;
    margin-top: -4px;
    border-style: solid;
}

a, hr, img, .subtitle, .headertitle, .poemtext {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:link {
    color: #49452e;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #49452e;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #0b408a;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #0b408a;
    background-color: transparent;
    text-decoration: none;
}
