@keyframes multi-bg {
  0% {
    --bg-1-x: 25;
    --bg-1-y: 50;
    --bg-2-x: 35;
    --bg-2-y: 40;
    --bg-3-x: 45;
    --bg-3-y: 45;
    filter: hue-rotate(0deg);
  }

  25% {
    --bg-1-x: 30;
    --bg-2-y: 50;
    --bg-2-x: 80;
    --bg-3-y: 20;
    --bg-3-x: 70;
    filter: hue-rotate(15deg);
  }

  50% {
    --bg-1-x: 10;
    --bg-2-y: 40;
    --bg-2-x: 30;
    --bg-3-y: 80;
    --bg-3-x: 50;
    filter: hue-rotate(0deg);
  }

  75% {
    --bg-1-x: 70;
    --bg-2-y: 10;
    --bg-2-x: 50;
    --bg-3-y: 30;
    --bg-3-x: 40;
    filter: hue-rotate(-15deg);
  }

  100% {
    --bg-1-x: 25;
    --bg-1-y: 50;
    --bg-2-x: 35;
    --bg-2-y: 40;
    --bg-3-x: 45;
    --bg-3-y: 45;
    filter: hue-rotate(0deg);
  }
}