body {
    margin: 0;
    background-color: #191C28;
}

header {
    width: 100%;
    background-color: #14161F;
    color: #B6BAD1;
    text-align: center;
    padding: 40px 0;
}

@media(min-width:0px) {
    hr {
        width: 373px;
    }
    .headertitle {
        font-size: 60px;
    }
    .subtitle {
        font-size: 24px;
    }
    ;
}

@media(min-width:768px) {
    hr {
        width: 420px;
    }
    .headertitle {
        font-size: 70px;
    }
    .subtitle {
        font-size: 27px;
    }
    ;
}

@media(min-width:950px) {
    hr {
        width: 500px;
    }
    .headertitle {
        font-size: 80px;
    }
    .subtitle {
        font-size: 30px;
        letter-spacing: 1.1px;
    }
    ;
}

@media(min-width:1400px) {
    hr {
        width: 600px;
    }
    .headertitle {
        font-size: 100px;
    }
    .subtitle {
        font-size: 37px;
        letter-spacing: 1.2px;
    }
    ;
}

.headertitle {
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.subtitle {
    margin: auto;
    font-family: 'Vesper Libre', sans-serif;
}

hr {
    color: #F4BF75;
    display: block;
    margin-top: -4px;
    border-style: solid;
    border-width: 2px;
}

a, hr, .subtitle, .headertitle {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:link {
    color: #B6BAD1;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #B6BAD1;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #F4BF75;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #F4BF75;
    background-color: transparent;
    text-decoration: none;
}
