#container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #66c2ff;
}
html, body {
  width:  100%;
  width:auto;
  height: 100%;
  margin: 0px;
  text-align: center;
}

#answers {
  display: inline-block;
  text-align: center;
  width: 50%;
}

#score {
  position: absolute;
  top:0;
  right:0;
}
