---
import ThemeToggle from './ThemeToggle.astro';
---

<div class="tag">
  <ThemeToggle />
  under construction
</div>

<style>
  .tag {
    font-family: 'Louise';
    font-size: clamp(2rem, 3vw, 3rem);
    color: var(--secondary-background);
    position: fixed;
    bottom: var(--space-md);
    text-align: center;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
  }
</style>