---
import ThemeToggle from './ThemeToggle.astro';
---

<div class="tag">
  <ThemeToggle />
  under construction
</div>

<style>
  footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .tag {
    font-family: 'Louise';
    font-size: clamp(2rem, 3vw, 3rem);
    color: var(--secondary-background);
    position: fixed;
    bottom: var(--space-md);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
  }
</style>