<div class="intro">
  <p>
    Josh(ua) is a developer, designer, and occasionally other things too, from Aotearoa NZ. During daylight, he runs design and content at
    BioLumic, the company that programs plants with light. As for the night — who can say? Look above to find his sporadic content, 
    <s>or visit the links below</s>.
  </p>
</div>

<style>
  .intro {
    position: fixed;
    opacity: 0;
    width: 80%;
    max-width: 1600px;
    z-index: 5;
  }


  p {
    line-height: 1.5em;
    text-align: justify;
    text-wrap: pretty;
    padding-top: 2rem;
  }
</style>