<div class="intro">
  <p>
    Joshua is a software developer and multi-disciplinary designer.
  </p>
  <p>
    He lives in Aotearoa NZ with his wife, Emily, and their cat, Storm.
    In his spare time, he enjoys music (that is: playing, composing, listening), reading, writing (especially in the third-person), and exploring the outdoors.
    That's a non-exhaustive list.
  </p>
  <p>
    You can contact him via email at <span class="email">joshua@<!--lie.--><span>email.</span><span>soong.</span><span>lie.</span>nz</span>.
  </p>
</div>

<style>
  .intro {
    position: fixed;
    opacity: 0;
    width: 80%;
    max-width: 1600px;
    z-index: 5;
  }


  p {
    line-height: 1.5em;
    text-align: justify;
    text-wrap: pretty;
    padding-top: 2rem;
  }

  p::selection {
    background: var(--secondary-background);
    color: var(--selection-text);
  }

  span.email {
    display: inline;
  }

  span.email > span:nth-child(odd) {
	display: none;
}
</style>