<div class="intro">
  <p>
    Josh(ua) is a developer and designer from Aotearoa NZ.
  </p>
</div>

<style>
  .intro {
    position: fixed;
    opacity: 0;
    width: 80%;
    max-width: 1600px;
    z-index: 5;
  }


  p {
    line-height: 1.5em;
    text-align: justify;
    text-wrap: pretty;
    padding-top: 2rem;
  }
</style>